doctype html
html 
  head 
  body 
    <video controls width="600">
        Your browser does not support the video tag.
        <source src="/av1/stream.webm" type="video/webm">
    </video>
    br
    <a href="..">Back</a>