doctype html
html 
  head 
  body 
    <video id="video" controls width="600">
    </video>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.3.5/shaka-player.compiled.js"></script>
    script.
      const player = new shaka.Player(document.getElementById('video'));
      player.load('/stream/h264/manifest.mpd');
    br
    <a href="..">Back</a>